@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Noto+Color+Emoji&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	font-family: 'Courier Prime';
}

footer {
	display: grid;
	width: 100vw;
	margin-top: 50px;
	padding: 20px;
	background: rgb(32,233,255);
	background: linear-gradient(147deg, rgba(32,233,255,1) 0%, rgba(0,3,255,1) 100%); 
	justify-content: center;
	text-align: center;
}

footer a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.25em;
	font-family: 'Gochi Hand', cursive;
}

footer a:hover {
	color: #004;
}

header {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	margin-bottom: 50px;
	padding: 5px 40px;
	background: rgb(0,230,255);
	background: linear-gradient(140deg, rgba(0,230,255,1) 0%, rgba(36,135,255,1) 100%); 
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Gochi Hand', cursive;
}

a {
	text-decoration: none;
	color: #0058ff;
}

#logo {
	padding: 14px;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	transition: 0.05s;
}


#logo:hover {
	color: #004;
}

.navbar a {
	padding: 14px;
	color: #fff;
	transition: 0.05s;
}

.navbar a:hover {
	color: #004;
}
.page {
	min-height: 100vh;
	display: flex;
}

.sidebar {
	width: 20vw;
	padding: 30px;
}

#query {
	margin-bottom: 20px;
}

#search {
	padding: 1px;
	background-color: white;
	border: 1px solid black;
	color: #111;
	outline: none;
	font-size: 1em;
	transition: 0.05s;
}

#search:focus {
	box-shadow: -3px 3px black;
}

.tags {
	list-style-type: none;
	font-family: 'Courier Prime';
}

.grid-container {
	width: 75vw;
	padding: 30px 5px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: min-content;
  	grid-auto-flow: row dense;
}

.grid-container div {
	aspect-ratio: 1;
}

.thumbnail {
	border: 1px solid black;
	background: #ffffff;
	transition: 0.1s;
}

.thumbnail:hover {
	translate: 2px -2px;
	background: #ffffff;
	box-shadow: -3px 3px black;
}

.pagination {
	padding: 5px;
	display: flex;
	justify-content: center;
}

.page-button {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.25rem;
	border-radius: 50%;
	color: #000;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	font-family: 'Gochi Hand';
}

.page-button:hover {
	background-color: #eee;
}

.page-button:active {
	color: #fff;
	background-color: #f11;
}