@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Noto+Color+Emoji&display=swap');

.page {
	display: flex;
	flex-direction: column;
    align-items: center;
}

#login_header {
	margin-top: 50px;
	padding: 20px;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Gochi Hand';
}
form {
	width: 300px;
	text-align: left;
	justify-content: center;
}

label, input, button {
	display: block;
	width: 100%;
}

button {
	font-size: 1.125em;
	font-family: 'Gochi Hand';
}
